tracker:
  - type: toggl
    token: "token-from-toggl"

period:
  timeframe: 2w
  every: 1d

# places to sync time entries with
sync:
  - type: jira
    url: https://customer-host.atlassian.net
    login: login@email.com
    token: "token-from-jira"
    projects:
      - DEV
